<!doctype html>
<html lang="en">
  <head>
    <title>Form Output</title>
  </head>
  <body>
    <p>
      <label>Field by Label</label>
      <%= params[:field_by_label] %>
    </p>
    <p>
      <label>Field by Name</label>
      <%= params[:field_by_name] %>
    </p>
    <p>
      <label>Field by ID</label>
      <%= params[:field_by_id] %>
    </p>
    <p>
      <label>Password by Label</label>
      <%= params[:password_by_label] %>
    </p>
    <p>
      <label>Text Area by Label</label>
      <%= params[:text_area_by_label] %>
    </p>
    <p>
      <label>Select by Name</label>
      <%= params[:select_by_name] %>
    </p>
    <p>
      <label>Radio Button by Name</label>
      <%= params[:radio_button] %>
    </p>
    <p>
      <label>Unchecked Checkbox</label>
      <%= params[:unchecked_checkbox] %>
    </p>
    <p>
      <label>Checked Checkbox</label>
      <%= params[:checked_checkbox] %>
    </p>

  </body>
</html>
